<?xml version="1.0"?>
<configuration>
  <configSections/>
  <appSettings file="site.config"/>
  <connectionStrings/>
  <!--
    Per una descrizione delle modifiche al file web.config, vedere il sito Web all'indirizzo http://go.microsoft.com/fwlink/?LinkId=235367.

    Gli attributi seguenti possono essere impostati sul tag <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls/>
    </pages>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.8">
      <buildProviders/>
      <assemblies/>
    </compilation>
    <httpHandlers>
      <!-- remove verb="*" path="*.asmx"/ -->
    </httpHandlers>
    <httpModules/>
    <authentication mode="Forms">
      <forms name="appNameAuth" path="/" loginUrl="~/Login.aspx" protection="All" timeout="30"/>
    </authentication>
    <authorization>
      <allow users="*"/>
    </authorization>
    <!--
          The <customErrors> section enables configuration 
          of what to do if/when an unhandled error occurs 
          during the execution of a request. Specifically, 
          it enables developers to configure html error pages 
          to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
          <error statusCode="403" redirect="NoAccess.htm"/>
            <error statusCode="404" redirect="FileNotFound.htm"/>
        </customErrors>-->
  </system.web>
</configuration>